.footer{
    margin-top: 5%;
}

.name_footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.age-footer{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}